// bower:scss
// endbower

$cardWidth: 100px;
$cardHeight: 200px;
$cardPadding: 3px;

div {
	border: solid 1px;
}

.deck {
	position:relative;
	height: $cardHeight;

	.card {
		position: absolute;
		width: $cardWidth;
		height: $cardHeight;
		border: solid 1px;

		padding: $cardPadding;
	}

	.card-player0 {
		background:#FDD;
	}

	.card-player1 {
		background:#DDF;
	}

	.card-turned {
		background: #FFF;
	}

	.card-unturned {
	}

	.card-rotate-90 {
		width: $cardHeight;
		height: $cardWidth;
	}
}