<hub *ngIf="hub || animationService.crapette || crapetteService.winner"
    [winner]="crapetteService.winner"
    (local)="startLocalGame()"
    [@hubFade]="hub || animationService.crapette || crapetteService.winner">
</hub>
<div *ngIf="stacks" id="game" [ngClass]="{'blurry': hub || crapetteService.winner}">
  <div id="hacks" style="position:fixed; top:0; left: 0;">
  </div>
  <div class="player-status" [ngClass]="{'red': appState.get('currentPlayer').id}"><span>{{'player' | translate}}</span><br /><span>{{appState.get('currentPlayer').id + 1}}</span></div>
  <div class="board" [ngClass]="{'rotate': crapetteService.rotate}">
    <div class="row player-row player-row-top">
      <div class="field side-field"></div>
      <div class="field crappette-field">
        <stack (pick)="pick($event)" (push)="push($event)" [stack]="stacks.player0Crapette"></stack>
      </div>
      <div class="field main-field">
        <stack (pick)="pick($event)" (push)="push($event)" [stack]="stacks.player0Main"></stack>
      </div>
      <div class="field discard-field">
        <stack (pick)="pick($event)" (push)="push($event)" [stack]="stacks.player0Discard"></stack>
      </div>
      <div class="field alert-field">
        <button (click)="crapette(0)">{{'crapette' | translate}}</button>
        <span class="no no-p0">{{'no' | translate}}.</span>
      </div>
    </div>

    <div class="row mid-row">
      <div class="field streets-field streets-left">
        <div class="street" *ngFor="let street of stacks.streets | slice:0:crapetteService.NUMBEROFSTREETS;  let i=index">
          <stack (pick)="pick($event)" (push)="push($event)" [stack]="street"></stack>
        </div>
      </div>

      <div class="field aces-field">
        <stack (pick)="pick($event)" (push)="push($event)" *ngFor="let pile of stacks.aces" [stack]="pile"></stack>
      </div>

      <div class="field streets-field streets-right">
        <div class="street" *ngFor="let street of stacks.streets | slice:crapetteService.NUMBEROFSTREETS:crapetteService.NUMBEROFSTREETS*2;  let i=index">
          <stack (pick)="pick($event)" (push)="push($event)" [stack]="street"></stack>
        </div>
      </div>

    </div>

    <div class="row player-row player-row-top">
      <div class="field alert-field">
        <button (click)="crapette(1)">{{'crapette' | translate}}</button>
        <span class="no no-p1">{{'no' | translate}}.</span>
      </div>
      <div class="field discard-field">
        <stack (pick)="pick($event)" (push)="push($event)" [stack]="stacks.player1Discard"></stack>
      </div>
      <div class="field main-field">
        <stack (pick)="pick($event)" (push)="push($event)" [stack]="stacks.player1Main"></stack>
      </div>
      <div class="field crappette-field">
        <stack (pick)="pick($event)" (push)="push($event)" [stack]="stacks.player1Crapette"></stack>
      </div>
      <div class="field side-field"></div>
    </div>
  </div>
  <menu></menu>
</div>
