// Layout
@import '../../../styles/variables';
@import '../../../styles/utils';

$streetShift: -16px;

#game {

  transition: filter $fast, opacity $fast;

  .row {
    @include display-flex();
  }

  .player-row {
    max-width: 1100px;
    margin: 0 auto;
  }

  .field {
    flex: $mainColumnSize;
  }

  .streets-field {
    flex: $streetColumnSize;
  }

  .alert-field, .side-field {
    flex: $sideColumnSize;
  }

  .streets-field {
    @include display-flex(column);

    .street {
      flex: 1;
    }
  }

  .streets-left {
    margin-right: $streetShift;
    .stack {
      text-align: right;

      * {
        text-align: left;
      }
    }
  }

  .mid-row {
    .stack {
      padding: ($stackPadding / 2) $stackPadding;
    }
  }

  .aces-field {
    width: 2 * ($cardWidth + 2 * $stackPadding) + 20px;
    flex: unset;

    @include display-flex();
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  .board {
    transition: transform 0.3s;

    &.rotate {
      @include rotate(180deg);

      .player-row stack {
        display: block;
      }

      button, stack {
        @include rotate(180deg);
      }

      .streets-left {
        margin-right: 0;
      }
      .streets-right {
        margin-left: $streetShift;
      }
      .streets-left, .streets-right {
        margin-top: 5px;
      }
      .street {
        margin-top: 4px;
      }
    }
  }

  &.blurry {
    @include blur(4px);
    opacity: 0.5;
  }
}