<div class="card" [ngStyle]="{'-webkit-transform': card.visible ? 'rotate('+card.rotation+'deg)' : 'unset'}">
  <div class="card-content" [ngClass]="{
    'red':card.player.id === 1,
    'invisible':!card.visible,
    'red-card': card.type.color === 1
  }">
    <div class="top-left" *ngIf="card.visible">
      <div class="card-value">{{cardToolsService.getCharFromNumeric(card.value)}}</div>
      <div class="card-suit" [ngClass]="'icon-'+card.type.name+'15'"></div>
    </div>

    <div class="bottom-right" *ngIf="card.visible">
      <div class="card-value">{{cardToolsService.getCharFromNumeric(card.value)}}</div>
      <div class="card-suit" [ngClass]="'icon-'+card.type.name+'15'"></div>
    </div>
    {{card.picked ? 'Picked':''}}
  </div>
</div>