// Card css
@import '../../../styles/variables';

.card {
  border: solid 1px $grey-cardBorder;
  border-radius: $card-radius;

  display: inline-block;

  width: $cardWidth;
  height: $cardHeight;

  color: $black-card;
  font-size: 0.9em;
  font-weight: 600;

  $shift: 1.5;

  background: $white-card;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

  .card-content {
    margin: $card-padding;
    border-radius: $card-radius;

    height: calc(100% - 2 * #{$card-padding});
  }

  .invisible {
    background-color: $blue-player;
  }

  .red.invisible {
    background-color: $red-player;
  }

  .red-card {
    color: $red-card;
  }

  .top-left, .bottom-right {
    position: absolute;
  }

  .top-left {
    top: $shift * $card-radius;
    left: $shift * $card-radius;
  }

  .bottom-right {
    $d: 180deg;
    -ms-transform: rotate($d); /* IE 9 */
    -webkit-transform: rotate($d); /* Chrome, Safari, Opera */
    transform: rotate($d);

    bottom: $shift * $card-radius;
    right: $shift * $card-radius;
  }

  .card-suit {
    transform: scale(0.85);
    margin: 2px 0 2px -2px;
  }

  .card-value {
    padding-left: 0;
  }

  .icon-hearts15 {
    margin-top: 4px;
  }
}

