// Colors
$white-card: #FEFEFE;
$grey-cardBorder: #D8D8D8;
$noCardBG: rgba(#FFF, 0.3);
$grey-noCardBorder: #A2A2A2;

$blue-player: #6363C3;
$blue-button: #292981;
$red-player: #E73D3D;

$black-card: #000;
$red-card: #F00;
// Sizes

$sideColumnSize: 1;
$mainColumnSize: 2;
$streetColumnSize: 1;

$stackPadding: 10px;

$cardWidth: 110px;
$cardHeight: 156px;

$card-radius: 5px;
$card-padding: 3px;

$menuMinWidth: 460px;

$fast: 0.2s;

$menuTabsTop: 100px;
$menuTabHeight: 50px;
$menuTabRadius: $card-radius;