$icon-cog: 0px 0px 26px 26px;
$icon-flag-fr: 0px -26px 45px 30px;
$icon-flag-uk: 0px -56px 45px 30px;
$icon-rules: 0px -86px 26px 30px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon-cog {
  @include sprite($icon-cog);
  background-image: url('../sprites/sprite-src-assets-img-icons.png');
}

.icon-flag-fr {
  @include sprite($icon-flag-fr);
  background-image: url('../sprites/sprite-src-assets-img-icons.png');
}

.icon-flag-uk {
  @include sprite($icon-flag-uk);
  background-image: url('../sprites/sprite-src-assets-img-icons.png');
}

.icon-rules {
  @include sprite($icon-rules);
  background-image: url('../sprites/sprite-src-assets-img-icons.png');
}

