// Layout
@import '../styles/variables';

$streetShift: -16px;

.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.player-row {
  max-width: 1100px;
  margin: 0 auto;
}

.field {
  flex: $mainColumnSize;
}

.streets-field {
  flex: $streetColumnSize;
}

.alert-field, .side-field {
  flex: $sideColumnSize;
}

.streets-field {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .street {
    flex: 1;
  }
}

.streets-left {
  margin-right: $streetShift;
  .stack {
    text-align: right;

    * {
      text-align: left;
    }
  }
}

.mid-row {
  .stack {
    padding: ($stackPadding / 2) $stackPadding;
  }
}

.aces-field {
  width: 2 * ($cardWidth + 2 * $stackPadding) + 20px;
  flex: unset;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.board {
  transition: transform 0.3s;

  &.rotate {
    $d: 180deg;
    -ms-transform: rotate($d); /* IE 9 */
    -webkit-transform: rotate($d); /* Chrome, Safari, Opera */
    transform: rotate($d);

    .player-row stack {
      display: block;
    }

    button, stack {
      $d: 180deg;
      -ms-transform: rotate($d); /* IE 9 */
      -webkit-transform: rotate($d); /* Chrome, Safari, Opera */
      transform: rotate($d);
    }

    .streets-left {
      margin-right: 0;
    }
    .streets-right {
      margin-left: $streetShift;
    }
    .streets-left, .streets-right {
      margin-top: 5px;
    }
    .street {
      margin-top: 4px;
    }
  }
}
