<div id="menu" [ngClass]="{'out': out}">
  <div class="buttons-container">
    <div class="button settings" (click)="clickButton('settings')">S</div>
    <div class="button rules" (click)="clickButton('rules')">R</div>
  </div>

  <div class="section rules" *ngIf="state === 'rules'">
    <markdown>
        # Rules
        These are the rules
    </markdown>
  </div>

  <div class="section settings" *ngIf="state === 'settings'">
    <markdown>
        # Settings
        These are the settings
    </markdown>
  </div>
</div>