<div id="menu" [ngClass]="{'out': out}">
  <div class="buttons-container">
    <div class="button settings" (click)="clickButton('settings')">S</div>
    <div class="button rules" (click)="clickButton('rules')">R</div>
  </div>

  <div class="section rules" *ngIf="state === 'rules'">
    <markdown>{{'rules.intro' | translate}}</markdown>
    <markdown>{{'rules.layout' | translate}}</markdown>
  </div>

  <div class="section settings" *ngIf="state === 'settings'">
    <markdown>
        # Settings
        These are the settings
    </markdown>
    <p><label><input type="checkbox" [(ngModel)]="settings.rotateBoard"> Rotate the board depending on player</label></p>
    <p><label><input type="checkbox" [(ngModel)]="settings.stackLength"> Show how many cards are in a stack on hover</label></p>
  </div>
</div>