<div class="overlay"></div>
<div id="hub">
  <div class="splash-wrap">
  	<img [src]="baseUrlStripped + '/assets/img/splash/splash_cra.png'" class="splash left" />
  	<img [src]="baseUrlStripped + '/assets/img/splash/splash_ette.png'" class="splash right" />
  </div>
  <div *ngIf="!winner">
    <button class="large" (click)="startLocal()">{{ 'hub.local' | translate}}</button><br>
    <button class="large" *ngIf="enableOnline && !showMulti" (click)="startOnline()">{{ 'hub.online' | translate}}</button>
    <div *ngIf="enableOnline && showMulti">
      <p><span class="multi-link">{{baseUrl + '/p1/' + hash}}</span><a class="button link" target="_blank" href="{{baseUrl + '/p1/' + hash}}">{{ 'hub.go' | translate}}</a></p>
      <p><span class="multi-link">{{baseUrl + '/p2/' + hash}}</span><a class="button link" target="_blank" href="{{baseUrl + '/p2/' + hash}}">{{ 'hub.go' | translate}}</a></p>
    </div>
  </div>
  <div *ngIf="winner" class="winner">
    <h1 [ngClass]="{'red': winner.id === 1}">{{'hub.winner' | translate:winnerTranslate()}}</h1>
  </div>
</div>
