// menu css
@import '../../../styles/variables';

hub {
  position: fixed;

  z-index: 20;
  width: $hubWidth;
  height: $hubHeight;
  top: calc(50vh - #{$hubHeight} / 2 );
  left: (100vw - $hubWidth) / 2;

  button {
    margin-bottom: 15px;
  }
}